.left
.middle
	.mb
		%h3= t('shop.filters.accessories')
		%h4= t('products', count: products.length)
	.inline.tb
		%li= selected_link('workshop', shop_workshop_path)
		%li= '|'
		%li= selected_link('accessories', shop_products_path(kind: 'accessory'))
		%li= '|'
		%li= selected_link('fabrics', shop_fabrics_path(kind: 'fabric'))


.right
	.mb
		= render partial: 'shop/filters/equalizer'


