%li.logo= image_tag "icons/logo-red.png"

= link_to shop_fabrics_path(kind: 'fabric'), {class: 'mb-quit'} do
	%li
		%h2= t('shop.mb_filters.fabrics')

= link_to shop_workshop_path, {class: 'mb-quit'} do
	%li
		%h2= t('shop.mb_filters.workshop')