#account.modal						
	.modal-content.no-hide
		#connect-account
			.modal-header
				%h3.modal-title= t_scoped(:log_in)
				%span.close= 'X'
			.modal-body
				= form_tag session_path(:user), html: { autocomplete: "off" }, class: 'form-center' do
					= text_field_tag 'user[email]', nil, required: 'true', placeholder: 'Email'
					= password_field_tag 'user[password]', nil, required: 'true', placeholder: t_scoped(:password)
					= link_to t_scoped(:password_forgotten), new_password_path(:user), class: "forgot"
					%button.btn-account Sign in
			.link-new-user
				%h3= t_scoped(:not_registered?)
				= navbar_text t_scoped(:register), id: "create_account", class: "register-link"
		#create-account
			.modal-header
				%h3.modal-title= t_scoped(:new_account)
				%span.close= 'X'
			.modal-body
				= form_tag registration_path(:user), html: { autocomplete: "off" }, class: 'form-center' do
					= text_field_tag 'user[email]', nil, required: true, placeholder: 'Email'
					= text_field_tag 'user[pseudo]', nil, required: true, placeholder: 'Pseudo'
					= password_field_tag 'user[password]', nil, required: true, placeholder: t_scoped(:password)
					= password_field_tag 'user[password_confirmation]', nil, required: true, placeholder: t_scoped(:confirm_password)
					%button.btn-account= t_scoped(:create_account)
			.link-new-user
				%h3= t_scoped(:registered?)
				= navbar_text t_scoped(:log_in), id: "connect_account", class: "register-link"

:javascript

	// When the user clicks on <span> (x), close the modal
	$('#close').click(function() {
		$('#account').fadeOut("slow");
	});

	// When the user clicks anywhere outside of the modal, close it
	$(window).on("click", function(event) {
		if ((!$(event.target).parents('.no-hide').length || $(event.target).is(".close")) && !$(event.target).is(".no-hide")) {
			$('#account').fadeOut("slow");
		}
	});

	$('#create_account').click(function() {
		$('#connect-account').hide();
		$('#create-account').show();
	});

	$('#connect_account').click(function() {
		$('#create-account').hide();
		$('#connect-account').show();
	});
