#search_links
	= link_to t_scoped(:all), products_path(kind: "model"), class: "btn"
	= link_to t_scoped(:woman), products_path(kind: "model-female", customer: "woman"), class: "btn"
	= link_to t_scoped(:man), products_path(kind: "model-male", customer: "man"), class: "btn"
	= link_to t_scoped(:child), products_path(customer: "child"), class: "btn"
	= link_to t_scoped(:fabrics), products_path(kind: "material"), class: "btn"