#search_links
	= link_to 'All products', products_path(kind: "model"), class: "btn"
	= link_to 'Woman', products_path(kind: "model", customer: "woman"), class: "btn"
	= link_to 'Man', products_path(kind: "model", customer: "man"), class: "btn"
	= link_to 'Child', products_path(kind: "model", customer: "child"), class: "btn"
	= link_to 'Fabrics', products_path(kind: "material"), class: "btn"