
.page1
	%h1= t_scoped(:logo_title)
	%br
	%br
	%br

	= render partial: 'main/search_links'

	%br
	%br

	= image_tag "dress1.jpg", class: "welcome_picture"
	%h1= t_scoped(:welcome_title)

	%h1= ">"
	%h1= "<"

.page2

	= image_tag "tailor1.jpg", class: "tailor_picture"
	%h1= t_scoped(:intro_title)
	%h1= t_scoped(:intro_description)

	%br
	.block
		%h1= t_scoped(:block1_title)
		%h3= t_scoped(:block1_description)
	.block
		%h1= t_scoped(:block2_title)
		%h3= t_scoped(:block2_description)
	.block
		%h1= t_scoped(:block3_title)
		%h3= t_scoped(:block3_description)