%li.logo= image_tag "icons/logo-red.png"

= link_to shop_products_path(kind: 'creation') do
	%li
		%h2= t('.men')
= link_to shop_products_path(kind: 'model') do
	%li
		%h2= t('.women')
= link_to shop_products_path(kind: 'accessory') do
	%li
		%h2= t('.child') 
= link_to cart_path do
	%li
		%h2= t('.all-products') 

= link_to root_path, {class: 'close_mb_menu', remote: true} do
	%li
		%h2= t('.cancel')