.new_poster_form
    = render partial: 'admin/posters/table_header'
    = form_for @poster, remote: true, authenticity_token: true do |f|
        %table
            %tr.new-row
                %td= f.text_field :title, autocomplete: "off", placeholder: "title", required: true
                %td= f.select(:kind, poster::KINDS)
                %td= f.text_field :text, autocomplete: "off", placeholder: "description", required: true
                %td= f.check_box :activated
                %td= f.file_field :image, required: true, multiple: true, name: "images[]"
                %td= f.submit
                %td= link_to 'Cancel', root_path, remote: :true, class: "close_new_form btn"

:javascript

    $('.close_new_form').click(function() {
        $(this).closest(".new_poster_form").remove();
        $('#new_poster_form_btn').show();  
    });

    $('#poster_kind').change(function() {
        $('.option').hide();
        $('.option').find('.custom_field').prop('disabled', true);
        var kind = $(this).val();
        $('.' + kind).show();
        $('.' + kind).find('.custom_field').prop('disabled', false);
    }).trigger('change');
    

