// Block 1 : title of the page
.title.lt
	%h3.bold= @product.title

// Block 2 : custom sizes if proposed
.sizes.column-center
	- if @product.unic_size == true
		.subtitle.inline-center
			%h5= t('products.not_on_measure')
			= image_tag('icons/size-unic.png')
			= f.hidden_field :size, value: 'unic'
	- else
		.subtitle.inline-center
			%h5= t('shop.action.choose_size')
			= image_tag('icons/size-custom.png')
		%h6= t('shop.action.size_explain')
		.options.inline-center
			%label.option
				= f.radio_button :std_size, true
				%span= t('products.size.' + sizes[:std])
			%label.option
				= f.radio_button :std_size, false 
				%span= t('products.size.' + sizes[:big])	

// Block 3 : custom fabric if proposed
.fabrics.column-center
	- if @product.custom_fabric == false
		.inline-center
			%h5= t('products.unic_fabric')
			= image_tag('icons/fabric-unic.png')
	- else
		.inline-center
			%h5= t('shop.action.choose_fabric')
			= image_tag('icons/fabric-custom.png')
		.msg
			- if @order_line.fabric_id
				%h6= t('shop.action.confirm_fabric_explain')
			- else
				%h6= t('shop.action.choose_fabric_explain')
		.dimensions	
			%h6.small_size= t('products.dimensions', length: product.fabric_lng_std, large: product.fabric_lrg_std)
			%h6.big_size= t('products.dimensions', length: product.fabric_lng_big, large: product.fabric_lrg_big)
		.options.inline-center
			.hidded-link
				- if @order_line.fabric_id
					= link_to '#', shop_fabric_path(kind: 'fabric', id: @order_line.fabric_id,selected_product_id: @product.id, selected_fabric_id: params[:selected_fabric_id]), id: 'link_to_fabrics'
					
			%label.option
				= f.radio_button :sep_fabric, true
				%span= t('shop.action.buy_fabric_myself')
			- if @order_line.fabric_id
				%label.option
					= f.radio_button :sep_fabric, false
					%span{id: 'select_fabric_link'}= t('shop.action.buy_this_fabric')
			- else
				%label.option
					= link_to shop_fabrics_path(kind: 'fabric', selected_product_id: @product.id), id: 'link_to_fabrics' do
						%span= t('shop.action.choose_fabric')

.buy.column-center
	.qties.inline-center
		%h3= t('cart.common.quantity')
		= f.select :quantity, [1, 2, 3, 4, 5]
	#total-price.btn.btn-custom.btn-valid.column-center
		= render partial: 'shop/show/total_price'
	.btn.btn-red.cancel
		%h4= t('common.cancel')

