// Block 1 : title of the page
.title
	%h3.bold= @result.title
	- if @result.kind == 'model'
		%h4
			= t('products.product_for')
			%span= I18n.t("shop.filters.#{@result.customer.title.downcase}")
		%h4
			- if @result.on_measure == true
				= t('products.confection')
			%span= @result.show_price_in_local_currency('confection_price')
	- elsif @result.kind == 'fabric' && @orderline.fabric_price
		%h4
			= t('cart.common.price_for_this_product')
			%span= @orderline.show_price_in_local_currency('fabric_price')

// Block 2 : icons to describe services
.icons.column-center
	.icons.inline-center
		- if @result.kind == 'model'				
			%li
				= @result.on_measure_rule
			%li
				= @result.unic_fabric_rule
			%li
				= image_tag 'icons/leadtime.png'
				%h5= t('products.leadtime2', leadtime: @result.leadtime)
		- elsif @result.kind == 'fabric'
			%li
				= image_tag('icons/origin.png')
				%h5= t('products.origin') + @result.origin.to_s
			%li
				= image_tag('icons/content.png')
				%h5= '100% ' + I18n.t("shop.filters.#{@result.fabric_family.title}")
			%li
				%h5= image_tag('icons/use.png')
				%h5= t('products.for_all_products')

// Block 3 : Description text of the product itself
.description.column-center
	%h4= @result.description

// Block 4 : form to add products to the basket
.basket
	- if @result.kind == 'model'
		- if @result.on_measure == false && @result.custom_fabric == false 
			=#Rules for MODELS not customizable
			.qties.inline-center
				%h3= t('cart.common.quantity')
				= f.select :quantity, [1, 2, 3, 4, 5]
			#total-price.btn-custo.big.btn-valid.column-center
				= render partial: 'shop/show/total_price'
		
		- else 
			=# Rules for MODELS customizable
			#btn_custom.btn-custo.btn-green
				= link_to root_path, remote: true do
					- if @result.on_measure == true && @result.custom_fabric == true
						%h4= t('shop.action.customize')
					- elsif @result.on_measure == true && @result.custom_fabric == false
						%h4= t('shop.action.choose_size')
					- elsif @result.on_measure == false && @result.custom_fabric == true
						%h4= t('shop.action.choose_fabric')
		.btn-custo.btn-info
			= link_to back_path(kind: params[:kind], customer: params[:customer], family: params[:family]) do
				%h4= t('shop.action.return_to_results')
	
	- elsif @result.kind == 'fabric' && params.has_key?(:selected_product_id) 
		=#Rules for FABRICS if a fabric has been selected previously
		.btn-custo.btn-green
			= link_to shop_product_path(kind: 'model', id: params[:selected_product_id], selected_fabric_id: @result.id) do
				- if params.has_key?(:selected_fabric_id)
					- if params[:selected_fabric_id] == @result.id.to_s
						%h4= t('shop.action.confirm_this_fabric')
					- else
						%h4= t('shop.action.change_for_this_fabric')
				- else
					%h4= t('shop.action.select_this_fabric')
		.btn-custo.btn-info.big
			= link_to shop_fabrics_path(kind: 'fabric', selected_product_id: params[:selected_product_id], selected_fabric_id: params[:selected_fabric_id]) do
				%h4= t('shop.action.other_fabrics')
		.btn-custo.btn-info.big
			= link_to shop_product_path(kind: 'model', id: params[:selected_product_id], selected_fabric_id: params[:selected_fabric_id]) do
				%h4= t('shop.action.return_to_product')


