= form_for @orderline, authenticity_token: true, class: 'sized' do |f|
	= f.hidden_field :product_id, value: @orderline.product_id, id: 'ol_product_field'
	= f.hidden_field :fabric_id, value: @orderline.fabric_id, id: 'ol_fabric_field'
	#fullpage.fp-mb.shop_show.flex
		.section.c5.dyn-header{'data-anchor': '1'}
			.intro
				= render partial: 'shop/show/intro', locals: {f: f, product: @result, sizes: @sizes}
			#ez-container
		.section.c5{'data-anchor': '2'}
			.info.fill-height
				= render partial: 'shop/show/info', locals: {f: f, product: @result, sizes: @sizes}
		- if @result.kind == 'model' && (@result.on_measure == true || @result.custom_fabric == true)
			.section.c5{'data-anchor': '3'}
				.form.fill-height
					= render partial: 'shop/show/details_form', locals: {f: f, product: @result, sizes: @sizes}

:javascript
	$(document).ready(function() {
		product_id = "#{@result.id}";
		fabric_id = "#{@orderline.fabric_id}";
	});