%section.showroom_index.c2
	.text
		%h3= t('.title')
		%h4= t('.contact')
	.results.flex
		- @products.each do |product|
			.product.one-edge-shadow.img-link{ id: "item_#{product.serial}" }
				= link_to product.product_pictures.first.image.url.to_s do
					= image_tag product.product_pictures.first.image.preview.url.to_s

:javascript
	$(document).ready(function() {
		$('#footer').show().addClass('pushed');
	});