.sub-cont.flex
	%section#section1.section.shop_show.c1.dyn-header.fp-mb{'data-anchor': '1'}
		.intro
			.title.mb
				%h3.bold= @product.title
				%h5= @product.serial
				%h3.price= @product.show_price
			.owl-carousel.owl-theme
				- @pictures.each do |p|
					.item.img-link
						= image_tag p.image, class: "ezoom", data: {zoom_image: p.image.url }
			#zoom_btn.tb
				= image_tag 'icons/zoom2.png', class: 'zoom-icon-inactive'
				= image_tag 'icons/zoom1.png', class: 'zoom-icon-active'
			#btn_prev
				=# image_tag 'icons/arrow_left.png'
			#btn_next
				=# image_tag 'icons/arrow_right.png'

	%section#section2.section.shop_show.c1{'data-anchor': '2'}
		.info.fill-height
			.title
				%h3.bold= @product.title
				.inline-center
					%h4
						= t('shop.show.product_for')
						%span= I18n.t("shop.main_filters.#{@product.customer}").downcase
				.inline-center
					- if @product.on_measure == true
						%h4
							= t('shop.show.confection')
							%span= @product.show_price
					- else
						%h4
							= t('shop.show.price')
							%span= @product.show_price

			.icons.inline-center
				%li
					= @product.on_measure_rule
				%li
					= @product.unic_fabric_rule
				%li
					= image_tag 'icons/leadtime.png'
					%h5=# t('shop.show.leadtime1')
					%h5= t('shop.show.leadtime2', leadtime: @product.leadtime)

			.description.column-center
				%h4= @product.description + @product.description

			.buttons
				- if @product.on_measure == false && @product.unic_fabric == true
					.qties.inline-around
						%h3= t('.qties')
						= f.select :quantity, ['1', '2', '3', '4']
					= f.submit t('.add_to_basket'), class: "btn btn-valid big"
				- else
					- if @product.on_measure == true && @product.unic_fabric == false
						#btn_custom.btn.btn-green.big
							%h4= t('.customize')
					- elsif @product.on_measure == true && @product.unic_fabric == true
						#btn_custom.btn.btn-green.big
							%h4= t('.choose_size')
					- elsif @product.on_measure == false && @product.unic_fabric == false
						#btn_custom.btn.btn-green.big
							%h4= t('.choose_fabric')
				.btn.btn-info.big
					= link_to back_path(kind: params[:kind], customer: params[:customer], family: params[:family]) do
						%h4= t('.return_to_results')
	- if @product.kind == 'model' && @product.on_measure == true
		%section#section3.section.shop_show.c1.dyn-footer{'data-anchor': '3'}
			.form.fill-height
				= render partial: 'shop/details_form', locals: {f: f, product: @product, sizes: @sizes}

:javascript
	$(document).ready(function() {
		$('#footer').removeClass('nav-off').addClass('nav-on')
		$('#btn_custom').click(function() {
			if (screen.width < 1024) {
				$.fn.fullpage.moveTo(3);
			}else {
				$("#section2").fadeOut(500, function(){
					$("#section3").fadeIn(500);
				});
			}
		});
		$('.cancel').click(function() {
			if (screen.width < 1024) {
				$.fn.fullpage.moveTo(2);
			}else {
				$("#section3").fadeOut(500, function(){
					$("#section2").fadeIn(500);
				});
			}
		});
	});
