%section.shop_index.c5
	.filters.inline
		= render partial: 'shop/' + @path + '/filters', locals: {products: @products}

	.results.inline
		- @products.each do |product|
			.product{ id: "item_#{product.serial}" }
				= link_to shop_product_path(id: product.slug) do
					%h4.title= product.title
					= image_tag product.product_pictures.active.main.first.image.preview
	
:javascript
	$(document).ready(function() {
		$('#footer').show().addClass('pushed');
		$('#open_mb_collection_filter').click(function() {
			$('#mb_filter').fadeIn(500);
			$('.mb-hide').hide();
		});
	});