.shop_index.c2
	.filters
		= render partial: 'shop/filters/' + @area + '/filters', locals: {results: @results}

	.results.flex
		- @results.each do |product|
			- if product.kind == 'model'
				.product.one-edge-shadow{ id: "item_#{product.serial}" }
					= link_to shop_product_path(id: product.slug, customer: params[:customer], kind: params[:kind], family: params[:family]) do
						%h4.title= product.title
						= image_tag product.product_pictures.active.main.first.image.preview, class: 'img'
						= image_tag 'icons/logo-red.png', class: 'logo'
			- elsif product.kind == 'fabric'
				.fabric{ id: "item_#{product.serial}" }
					= link_to shop_fabric_path(id: product.slug, family: params[:family], selected_product_id: params[:selected_product_id], selected_fabric_id: params[:selected_fabric_id], size: params[:size]) do
						%h5.pin 
						- if product.fabric_pictures.active.preview.any?
							= image_tag product.fabric_pictures.active.preview.first.image.preview, class: 'img'
						- else
							= image_tag product.fabric_pictures.active.view.first.image.preview, class: 'img'