%section.shop_index.c2
	.filters.inline
		= render partial: 'shop/filters/' + @area + '/filters', locals: {products: @products}

	.results.flex
		- @products.each do |product|
			.product.one-edge-shadow{ id: "item_#{product.serial}" }
				= link_to shop_product_path(id: product.slug) do
					%h3.title= product.title
					- if product.kind == 'fabric'
						= image_tag product.image.preview
					- else
						.img
							= image_tag product.product_pictures.active.main.first.image.preview
							.logo
								= image_tag 'icons/logo-red.png'
	
:javascript
	$(document).ready(function() {:id => "selector"
		$('#footer').show().addClass('pushed');
		$('#open_mb_collection_filter').click(function() {
			$('#mb_filter').fadeIn(500);
			$('.mb-hide').hide();
		});
	});