%section.shop_index.c2
	.filters.inline
		= render partial: 'shop/filters/' + @area + '/filters', locals: {products: @products}

	.results.flex
		- @products.each do |product|
			.product.one-edge-shadow{ id: "item_#{product.serial}" }
				- if product.kind == 'model'
					= link_to shop_product_path(id: product.slug, customer: params[:customer], kind: params[:kind], family: params[:family]) do
						%h3.title= product.title
						.img
							= image_tag product.product_pictures.active.main.first.image.preview
							.logo
								= image_tag 'icons/logo-red.png'
				- elsif product.kind == 'fabric'
					= link_to shop_fabric_path(id: product.slug, family: params[:family], selected_product_id: params[:selected_product_id], selected_fabric_id: params[:selected_fabric_id], size: params[:size]) do
						%h3.title= product.title
						.img
							= image_tag product.image.preview	

:javascript
	$(document).on('turbolinks:load', function() {
		//$('#footer').show().addClass('pushed');
		$('#open_mb_collection_filter').click(function() {
			$('#mb_filter').fadeIn(500);
			$('.mb-hide').hide();
		});
	});