= form_for @order_line, authenticity_token: true, class: 'sized' do |f|
	= f.hidden_field :product_id, value: @product.id
	%section#section1.shop_show.c1.section.fp-noscroll.fp-mb{'data-anchor': '1'}
		.title.mb
			%h3= @product.title
			%h5= @product.serial
			%h3.price= @product.show_price

		.owl-carousel.owl-theme
			- @pictures.each do |p|
				.item.img-link
					= image_tag p.image, class: "ezoom", data: {zoom_image: p.image.url }
		.logo
			=# image_tag 'icons/logo-red.png'
		#zoom_btn
			= image_tag 'icons/zoom2.png', class: 'zoom-icon-inactive'
			= image_tag 'icons/zoom1.png', class: 'zoom-icon-active'
		#btn_prev
			=# image_tag 'icons/arrow_left.png'
		#btn_next
			=# image_tag 'icons/arrow_right.png'

	%section#section2.shop_show.c1.section.fp-noscroll{'data-anchor': '2'}
		#ez-container
		.title
			%h3.bold= @product.title
			.inline-center
				%h3
					= t('shop.show.product_for')
					%span= I18n.t("shop.main_filters.#{@product.customer}").downcase
			.inline-center
				- if @product.on_measure == true
					%h3= t('shop.show.confection')
				- else
					%h3= t('shop.show.price')
				%h3.price= @product.show_price

		.description.column-center
			%h4= @product.description

		.icons.inline-center
			%li
				= @product.on_measure_rule
			%li
				= @product.unic_fabric_rule
			%li
				= image_tag 'icons/calendar.png'
				%h4= t('shop.show.leadtime1')
				%h4= t('shop.show.leadtime2', leadtime: @product.leadtime)

		.buttons
			- if @product.on_measure == true && @product.unic_fabric == false
				#btn_custom.btn.btn-green.big
					%h3= t('shop.show.btn_customize')
			- if @product.on_measure == true && @product.unic_fabric == true
				#btn_custom.btn.btn-green.big
					%h3= t('shop.show.btn_choose_size')
			- if @product.on_measure == false && @product.unic_fabric == false
				#btn_custom.btn.btn-green.big
					%h3= t('shop.show.btn_choose_fabric')
			- elsif @product.on_measure == false && @product.unic_fabric == true
				.qties.inline
					%h3= t('shop.show.qties')
					= f.select :quantity, ['1', '2', '3', '4']
				= f.submit t('shop.show.add_to_basket'), class: "btn btn-valid"

	- if @product.kind == 'model' && @product.on_measure == true
		%section#section3.shop_show.c1.section.fp-noscroll{'data-anchor': '3'}
			= render partial: 'shop/details_form', locals: {f: f, product: @product, sizes: @sizes}


:javascript
	$(document).ready(function() {
		if (screen.width > 1024) {
			//$('#footer').show().addClass('fixed');
			if (typeof $.fn.fullpage.destroy == 'function'){
				//$.fn.fullpage.destroy('all');
				//console.log('fullpage destroyed : show rule');
			}
		}

		$('#btn_custom').click(function() {
			if (screen.width < 1024) {
				$.fn.fullpage.moveTo(3);
			}else {
				$("#section2").fadeOut(500, function(){
					$("#section3").fadeIn(500);
				});
			}
		});
		$('.cancel').click(function() {
			if (screen.width < 1024) {
				$.fn.fullpage.moveTo(2);
			}else {
				$("#section3").fadeOut(500, function(){
					$("#section2").fadeIn(500);
				});
			}
		});
	});
