%section.shop_workshop.c2
	.filters.inline
		= render partial: 'shop/filters/' + @area + '/filters'
	.main
		.text
			%h3= t('.title')
			%h4= t('.contact')
		.main_img.flex
			= image_tag 'contents/workshop2.png'
			= image_tag 'contents/workshop1.png'
		.icons.inline-around
			%li.one-edge-shadow.column-center
				.box
					= image_tag 'icons/shop.png'
					%h5= t('.adress1')
					%h5= t('.adress2')
					%h5= t('.adress3')
			%li.one-edge-shadow.column-center
				.box
					= image_tag 'icons/leadtime.png'
					%h5= t('.opening')
		.icons.inline-around
			%li.one-edge-shadow.column-center
				.box
					= image_tag 'icons/contact.png'
					%h5= t('.email')
					%h5= t('.phone')
			%li.one-edge-shadow.column-center
				.box
					= image_tag 'icons/social.png'
					%h5= t('.social')
