.mb
	%h3= select_title
	%h4= t('fabrics', count: products.length)
.inline-center.tb
	= selected_link('workshop', shop_workshop_path)
	= '|'
	= selected_link('accessories', shop_products_path(kind: 'accessory'))
	= '|'
	= selected_link('all_fabrics', shop_fabrics_path(kind: 'fabric'))
	- FabricFamily.all.each do |f|
		= '|'
		= selected_link(f.title, shop_fabrics_path(kind: 'fabric', family: f.title))

.right
	.mb
		= render partial: 'shop/filters/equalizer'
	.tb
		%h5= t('fabrics', count: products.length)