.left
.middle
	.mb
		%h3= t('shop.accessory.main_filters.workshop')
	.tb
		%li= selected_link('accessories', shop_products_path(kind: 'accessory'))
		%li= '|'
		%li= selected_link('fabrics', shop_fabrics_path(kind: 'fabric'))
		%li= '|'
		%li= selected_link('workshop', shop_workshop_path)

.right
	.mb
		= link_to_icon('equalizer', 30, 30, root_path, {id: 'open_mb_collection_filter', remote: true})


