= form for @order do |f|
	.c1
		%tr
			%th= t('.qties')
			%th= t('.product')
			%th= t('.fabric')
			%th= t('.unit_price') + '€'
			%th= t('.line_total') + '€'
			%th
		- f.order_lines.each do |ol|
			%tr
				%th
					%h4= ol.qty
				%th
					.box
						%h4= ol.product.name
						%h4= ol.product.serial
					= image_tag ol.product.picture

				%th
					%h4= t('.no_fabric')
				%th
					%h4= ol.product.price
				%th
					%h4= ol.product.total_price
				%th
					= link_to_icon delete
			%hr

	.c2
		%h3= t('.delivery_choice')
		%span{id: 'clicandcollect'}
			%span
				.radio_btn
				%h4= t('.I_come')
				%h4= t('.free')
		%span{id: 'clicanddelivery'}
			%span
				.radio_btn
				%h4= t('.send_me')
				%h4= t('.costs')
		#shipping_form
			= f.input :surname, t('.surname')
			= f.input :name, t('.name')
			= f.input :adress, t('.adress')
			= f.input :zipcode, t('.zipcode')
			= f.input :city, t('.city')
			= f.input :phone, t('.phone')
			%h4.btn_valid= t('.validate')

	.c3
		%h3= t('.payment_choice')
			%span
				.radio_btn
				%h4= t('.receive_proposal')
		%h4.green= t('.conditions1')
		%h4= t('.conditions2')
		%h4.green= t('.conditions3')
		%h4= t('.conditions4')

	.c4
		.total_basket
			%h4= t('.basket_total')
			%h4= f.total_price + '€'
		.total_delivery
			%h4= t('.delivery_price')
			%h4= f.delivery_price + '€'
		%hr
		.total
			%h4= t('order_total')
			%h4= f.final_price + '€'
		- if f.payment_type == 'proposal'
			= f.submit, t('.validate_proposal'), class: 'btn_valid'
		- else
			= f.submit, t('.validate_order'), class: 'btn_valid'

:javascript