= form_for [:admin, @product] do |f|
	.product
		= f.text_field :title
		= f.text_field :description
	.pictures
		= f.fields_for :post_attachments do |p|
			= p.file_field :image, multiple: true, name: "product_pictures[image][]"
	= f.submit


=# form_for(@product_picture) do |f|
=# f.file_field :picture
=# f.submit

