#products_list
    = page_entries_info products

    %table
        %tr
            %th= t_scoped(:serial)
            %th= t_scoped(:title)
            %th= t_scoped(:kind)
            %th= t_scoped(:customer)
            %th= t_scoped(:family)
            %th= t_scoped(:description)
            %th= t_scoped(:price)
            %th= t_scoped(:price_unit)
            %th= t_scoped(:measure)
            %th= t_scoped(:measure_unit)
            %th= t_scoped(:activated)
            %th= t_scoped(:event)
            %th= t_scoped(:date_creation)
            %th= t_scoped(:actions)
        
        - products.each do |product|
            %tr
                %td= product.serial
                %td= product.title
                %td= product.kind
                %td= product.customer
                %td= product.family
                %td= product.description
                %td= product.price
                %td= product.price_unit
                %td= product.measure
                %td= product.measure_unit
                %td= product.activated
                %td= product.event
                %td= product.created_at
                %td
                    = link_to count_pictures(product), gallery_path(product.id), class: "btn"
                    = link_to 'Edit', edit_product_path(product), remote: true, class: "btn"
                    = link_to 'Destroy', product, method: :delete, remote: true, data: { confirm: 'Are you sure?' }

= will_paginate products # provided by will_paginate %>
        

