#product_form_modal
    .modal-content.no-hide
        #connect-account
            .modal-header
                %h3.modal-title= t_scoped(:product)
                %span.close= 'X'
    .modal-body
        %table
            %tr
                %th= t_scoped(:title)
                %th= t_scoped(:kind)
                %th= t_scoped(:customer)
                %th= t_scoped(:family)
                %th= t_scoped(:description)
                %th= t_scoped(:price)
                %th= t_scoped(:price_unit)
                %th= t_scoped(:measure)
                %th= t_scoped(:measure_unit)
                %th= t_scoped(:activated)
                %th= t_scoped(:event)

            = form_for @product, remote: true, authenticity_token: true do |f|
                %tr
                    %th= f.text_field :title, autocomplete: "off", placeholder: "title", required: true
                    %th= f.select(:kind, Product::KINDS)
                    %th= f.select(:kind, Product::CUSTOMERS)
                    %th= f.select(:kind, Product::FAMILIES)
                    %th= f.text_field :description, autocomplete: "off", placeholder: "description", required: true
                    %th= f.number_field :price, autocomplete: "off", required: true
                    %th= f.select(:price_unit, Product::PRICE_UNITS)
                    %th= f.number_field :measure, autocomplete: "off", required: true
                    %th= f.select(:measure_unit, Product::MEASURE_UNITS)
                    %th= f.check_box :activated
                    %th= f.select(:event, Product::EVENTS)
                    = f.submit
                    = link_to t_scoped(:cancel), root_path, remote: true, class: "btn_close close"

:javascript
    $('.close').click(function() {
        $('#product_form_modal').fadeOut("slow");
    });
    $(window).on("click", function(event) {
        if ((!$(event.target).parents('.no-hide').length || $(event.target).is(".close")) && !$(event.target).is(".no-hide")) {
            $('#product_form_modal').fadeOut("slow");
        }
    });