%h1= t_scoped(:index_title)

#new_product_area
	= link_to t_scoped(:new_product), nil, remote: true, id: 'btn_new_product', class: "btn_new"

= render :partial => 'admin/products/product_form_modal'

#products_area
	%h1= t_scoped(:products)
	= form_for_filterrific @filterrific do |f|
		Search
		=# f.text_field(:search_query, class: 'filterrific-periodically-observed')
		Kinds
		=# f.select(:with_country_id, @filterrific.select_options[:with_country_id],{ include_blank: '- Any -' })
		Sorted by
		=# f.select(:sorted_by, @filterrific.select_options[:sorted_by])

		= link_to('Reset filters', reset_filterrific_url,)
		= render_filterrific_spinner

	= render(partial: 'admin/products/list', locals: { products: @products })

:javascript
