- @products.each do |p|
	= p.title
	= p.id
	= link_to p.serial, admin_product_path(p.id)
	= p.product_pictures.each do |picture| # for each image
		= image_tag(picture.image.url.to_s) # display the image