%h4.title= t('cart.delivery.title')
.del_options
	.option.inline-around
		= f.radio_button :delivery_method, 'collect', {class: 'with-gap', checked: true}
		= f.label :delivery_method, value: 'collect' do
			%h4= t('cart.delivery.c&c')
			%h4
				= "(" 
				%span.price= t('cart.delivery.c&c_price')
				= ")"
	.option.inline-around
		= f.radio_button :delivery_method, 'delivery', {class: 'with-gap'}
		= f.label :delivery_method, value: 'delivery' do
			%h4= t('cart.delivery.c&s')
			%h4
				= "(" 
				%span.price= t('cart.delivery.c&s_price')
				= ")"
.cust_details
	= f.select :title, [t('user.mr'), t('user.mrs')]
	= f.text_field :title, placeholder: t('cart.delivery.title'), class: 'field', required: true
	= f.text_field :name, placeholder: t('cart.delivery.name'), class: 'field', required: true
	= f.text_field :surname, placeholder: t('cart.delivery.surname'), class: 'field', required: true
	= f.text_field :phone, placeholder: t('cart.delivery.phone'), class: 'field', required: true
.del_details
	= f.text_field :address, placeholder: t('cart.delivery.address'), class: 'field'
	= f.text_field :zipcode, placeholder: t('cart.delivery.zipcode'), pattern: '^(F-)?((2[A|B])|[0-9]{2})[0-9]{3}$', class: 'field'
	= f.text_field :city, placeholder: t('cart.delivery.city'), class: 'field'
	= f.text_field :country, placeholder: t('cart.delivery.country'), class: 'field'

	#adress_validate.btn-custo.btn-info
		%h4= t('common.validate')
#delivery_price.flex
	%h4=# t('shop.cart.delivery.shipping_fees')
	- if @order.shipping_fees > 0
		%h4=# @order.shipping_fees.to_s
	- else
		%h4.green=# t('shop.common.free')