%h4.title= t('cart.payment.title')
.inline-center
	%label.option
		= f.radio_button :payment_method, 'quotation', checked: true
		%span= t('cart.payment.quotation')
	%label.option
		= f.radio_button :payment_method, 'check'
		%span= t('cart.payment.check')