.shop_cart.c4
	.page-title
		%h3.title= t('cart.title')
	= form_for @order, authenticity_token: true do |f|
		#orderline
			- @order.order_lines.each do |ol|
				%li.product.flex{ id: "ol_#{ol.id}" }
					.img
						= image_tag ol.product.product_pictures.active.main.first.image.preview
					.details
						%h4.title= ol.product.title
						%h5.serial= ol.product.serial
						%h5.price= ol.show_price_in_local_currency('total_price')
						- if ol.fabric.present?
							= image_tag ol.fabric.fabric_pictures.active.view.first.image.preview
						- else
							%h5.fabric= t('cart.common.own_fabric')
					.order.inline-around
						.qty.flex
							%h4= t('cart.common.quantity')
							%h4.price= ol.quantity
						.total-price.flex
							%h4= t('cart.common.total_price')
							%h4.price= ol.show_price_in_local_currency('total_price')
					.action
						.btn-custo.btn-red
							= link_to order_line_path(ol.id), {remote: true, method: :delete} do
								%h4= t('cart.common.cancel_item')
					.action.tb
						=# link_to_icon('cancel', 20, 20, order_line_path(ol.id), {remote: true, method: :delete})

		.subtotal.flex
			%h3= t('cart.common.subtotal')
			%h3.price{id: 'subtotal'}= @order.show_price_in_local_currency('subtotal')
		.delivery
			= render partial: 'shop/cart/delivery', locals: {f: f}

		.total.flex
			%h3= t('cart.common.total_ttc')
			%h3.price.collect{id: 'total_ttc'}= @order.show_price_in_local_currency('total')
			=# render partial: 'shop/cart/total_price'

		.payment
			= render partial: 'shop/cart/payment', locals: {f: f}

		.conditions
			= render partial: 'shop/cart/conditions', locals: {f: f}

		.confirm
			= f.submit t('common.pass_order'), class: "btn btn-valid btn-large"
