.mb
	%h3= select_title
	%h4= t('products', count: products.length)
.inline.tb
	%li= selected_link('all_models', shop_products_path(kind: params[:kind]))
	%li= '|'
	%li= selected_link('man', shop_products_path(kind: params[:kind], customer: 'man'))
	%li= '|'
	%li= selected_link('woman', shop_products_path(kind: params[:kind], customer: 'woman'))
	%li= '|'
	%li= selected_link('boy', shop_products_path(kind: params[:kind], customer: 'boy'))
	%li= '|'
	%li= selected_link('girl', shop_products_path(kind: params[:kind], customer: 'girl'))
.right
	.mb
		= render partial: 'shop/filters/equalizer'
	.tb
		%h5= t('products', count: products.length)
