%li.logo= image_tag "icons/logo-red.png"

= link_to shop_products_path(kind: 'model'), {class: 'mb-quit'} do
	%li
		%h2= t('.all_models')

= link_to shop_products_path(kind: 'model', customer: 'man'), {class: 'mb-quit'} do
	%li
		%h2= t('.man')
= link_to shop_products_path(kind: 'model', customer: 'woman'), {class: 'mb-quit'} do
	%li
		%h2= t('.woman')
= link_to shop_products_path(kind: 'model', customer: 'girl'), {class: 'mb-quit'} do
	%li
		%h2= t('.girl')
= link_to shop_products_path(kind: 'model', customer: 'boy'), {class: 'mb-quit'} do
	%li
		%h2= t('.boy') 