.box2.sizes
	- if product.unic_size == true
		%h3= t('.unic_size')
		= f.hidden_field :size, value: 'unic'
	- else
		%h3= t('.choose_your_size')
		.inline
			%label.option
				= f.radio_button :size, sizes[:std], checked: true
				%span= t('.' + sizes[:std])
			%label.option
				= f.radio_button :size, sizes[:big]
				%span= t('.' + sizes[:big])

.box2.fabrics
	- if @product.unic_fabric == true
		%h3= t('.unic_fabric')
	- else
		%h3= t('.choose_your_fabric')
		.no_fabric.inline
			%h4= t('.dimensions', length: product.fabric_lgt_std, large: product.fabric_lrg_std)
		.with_fabric.inline
			%h4= t('.dimensions_wp', length: product.fabric_lgt_std, large: product.fabric_lrg_std)
			%h4.price= '+ 20e'
		%label.option.big
			= f.radio_button :sep_fabric, true, checked: true
			%span= t('.customer_fabric')
			=# f.hidden_field :separate_fabric, false
			=# f.hidden_field :fabric_id, {id: 'fabric_id', required: true}

.box2.qties.inline
	%h3= t('.qties')
	= f.select :quantity, ['1', '2', '3', '4']

.box2.buttons
	= f.submit t('.add_to_basket'), class: "btn btn-valid"
	#btn_cancel.btn.btn-cancel
		%h4= t('.cancel')