.left
.middle
	.mb
		%h3.title= select_title
		%h4= t('.products', count: products.count)
	.tb
		%li= selected_link('man', shop_products_path(kind: params[:kind], customer: 'man'))
		%li= '|'
		%li= selected_link('woman', shop_products_path(kind: params[:kind], customer: 'woman'))
		%li= '|'
		%li= selected_link('boy', shop_products_path(kind: params[:kind], customer: 'boy'))
		%li= '|'
		%li= selected_link('girl', shop_products_path(kind: params[:kind], customer: 'girl'))
		%li= '|'
		%li= selected_link('all_models', shop_products_path(kind: params[:kind]))

.right
	.mb
		= link_to_icon('equalizer', 40, 40, root_path, {id: 'open_mb_collection_filter', remote: true})
	.tb
		%h5= t('.products', count: @products.count)