%li.logo= image_tag "icons/logo-red.png"

= link_to shop_products_path(kind: 'model', customer: 'man') do
	%li
		%h2= t('shop.model.main_filters.man')
= link_to shop_products_path(kind: 'model', customer: 'woman') do
	%li
		%h2= t('shop.model.main_filters.woman')
= link_to shop_products_path(kind: 'model', customer: 'girl') do
	%li
		%h2= t('shop.model.main_filters.girl')
= link_to shop_products_path(kind: 'model', customer: 'boy') do
	%li
		%h2= t('shop.model.main_filters.boy') 
= link_to shop_products_path(kind: 'model') do
	%li
		%h2= t('shop.model.main_filters.all_models') 

= link_to root_path, {class: 'close_mb_menu', remote: true} do
	%li
		%h2= t('shop.model.main_filters.cancel')