%table{ id: "table_user_#{user.id}" }
	%tr
		%td= user.id
		%td= user.pseudo
		%td= user.email
		%td= user.avatar
		%td= user.registered
		%td= user.created_at
		%td= user.last_sign_in_at
		%td= link_to 'Edit', edit_user_path(user), remote: true, class: "btn"
		%td= link_to 'Destroy', user, method: :delete, remote: true, data: { confirm: 'Are you sure?' }