.product_form
    = form_for @product, remote: true, authenticity_token: true do |f|
        - if @product.errors.any?
            .error_explanation
                = pluralize(@product.errors.count, "error") + "prohibited this product from being saved:"
            .ul
                - @product.errors.full_messages.each do |message|
                    .li= message
        = f.text_field :title, autocomplete: "off", placeholder: "title", required: true
        = f.text_field :description, autocomplete: "off", placeholder: "description", required: true
        = f.label :activated, 'Activate product : '
        = f.check_box :activated
        = f.select(:kind, Product::KINDS)
        #material
            //{style: "display:none"}
            = f.hidden_field :customer, value: "material", class: "custom_field", disabled: true
            = f.select :family, Product::MATERIAL_FAMILIES, {}, class: "custom_field", disabled: true
        #model-male
            //{style: "display:none"}
            = f.select :customer, Product::MALE_CUSTOMERS, {}, class: "custom_field", disabled: true
            = f.select :family, Product::MALE_FAMILIES, {}, class: "custom_field", disabled: true
        #model-female
            //{style: "display:none"}
            = f.select :customer, Product::FEMALE_CUSTOMERS, {}, class: "custom_field", disabled: true
            = f.select :family, Product::FEMALE_FAMILIES, {}, class: "custom_field", disabled: true    
                
        = f.label :new_product, 'Product new : '
        = f.check_box :new_product
        = f.number_field :price, autocomplete: "off", required: true
        = f.select(:price_unit, Product::PRICE_UNITS)
        = f.number_field :measure, autocomplete: "off", required: true
        = f.select(:measure_unit, Product::MEASURE_UNITS)
        = f.submit
    = link_to 'close', root_path, remote: :true, class: "close_form btn"

:javascript

    $('.close_form').click(function() {
        if ($(this).parents('.new_product').length) {
            $('#new_product_form_btn').show();
        }
        $(this).closest(".product").find(".show_product").show();
        $(this).closest(".product_form").remove();
    });

    $('#product_kind').change(function() {
        if ($(this).val() == "model-male") {
            $('#material, #model-female').hide();
            $('#material, #model-female').find('.custom_field').prop('disabled', true);
            $('#model-male').show();
            $('#model-male').find('.custom_field').prop('disabled', false);
        }
        if ($(this).val() == "model-female") {
            $('#material, #model-male').hide();
            $('#material, #model-male').find('.custom_field').prop('disabled', true);
            $('#model-female').show();
            $('#model-female').find('.custom_field').prop('disabled', false);
        }
        if ($(this).val() == "material") {
            $('#model-female, #model-male').hide();
            $('#model-female, #model-male').find('.custom_field').prop('disabled', true);
            $('#material').show();
            $('#material').find('.custom_field').prop('disabled', false);
        }
    });

