.product{ id: "item_#{product.id}" }
	.show_product_lg
		= image_tag product.pictures.first.image.url(:medium)
		- if product.new_product == true
			= image_tag "icons/new.png", class: "new_round" 
		= product.title
		= product.description
		= product.family
		= product.price
		= product.price_unit