%section#section_p
	.filters.flex-line
		= link_to_icon('equalizer', 40, 40, '#', remote: true)
		.links.flex-line
			%h2= link_to t('.man'), browse_products_path(kind: params[:kind], customer: 'man')
			|
			%h2= link_to t('.woman'), browse_products_path(kind: params[:kind], customer: 'woman')
			|
			%h2= link_to t('.child'), browse_products_path(kind: params[:kind], customer: 'child')
			|
			%h2= link_to t('.all_models'), browse_products_path(kind: params[:kind])
		%h1= t('.products', count: @products.count)
	%hr
	.results.flex-line
		- @products.each do |product|
			#product.product{ id: "item_#{product.serial}" }
				= link_to product_path(id: product.slug) do
					= image_tag "mains/samples/product_sample1.png"
					%h1= product.title
					%h2= product.price.to_s + " " + product.price_unit




