#thread
	= link_to "Home", root_path
	- if params[:kind] == "model-female" || params[:kind] == "model-male"
		- unless params[:customer].blank?
			= link_to params[:customer], products_path(kind: "model", customer: params[:customer])
		- else 
			= link_to "all products", products_path(kind: "model")		
	- elsif params[:kind] == "material"
		= link_to "fabrics", products_path(kind: "model")
		

#fast_link
	= render partial: 'main/search_links'

#type_sort
	Filtrer les résultats

#display_sort
	= link_to 'Display large', products_path(display: "large"), remote: :true, id: "display_large_btn", class: "btn display_btn"
	= link_to 'Display small', products_path(display: "small"), remote: :true, id: "display_small_btn", class: "btn display_btn disabled"


#product_area.product_area
	= render partial: 'products/show_products_to_customer_small', locals: { products: @products }


:javascript

	$('.display_btn').click(function() {
		$(this).addClass('disabled');
		$('.display_btn').not(this).removeClass('disabled');
	});