= render partial: 'main/thread'

= render partial: 'main/product_links'

#type_sort
	Filtrer les produits

#display_sort
	= link_to 'Display large', products_path(display: "large"), remote: :true, id: "display_large_btn", class: "btn display_btn"
	= link_to 'Display small', products_path(display: "small"), remote: :true, id: "display_small_btn", class: "btn display_btn disabled"


#product_area.product_area
	= render partial: 'products/show_products_to_customer_small', locals: { products: @products }


:javascript

	$('.display_btn').click(function() {
		$(this).addClass('disabled');
		$('.display_btn').not(this).removeClass('disabled');
	});