%section
	#main_picture
		.picture
			= image_tag "mains/samples/product_sample1.png"
		.share
			%h3= t('.share')
			= link_to_icon('facebook_square', 20, 20, 'www.facebook.com', target: '_blank')
			= link_to_icon('mail', 20, 20, 'www.gmail.com', target: '_blank') 
	#product_details
		%h2= @product.title
		%h2= @product.price.to_s + " " + @product.price_unit
		%h2= @product.serial
		%hr
		%h2= t('.fabrics_title')
		= render partial: 'products/buy_form'
		%h3= @product.description




