#news.news
	%li
		%h4= t('.discover')
	= form_for @news, remote: true, authenticity_token: true do |f|
		%li.fields
			= f.text_field :zipcode, autocomplete: "off", placeholder: t('.zipcode'), required: true, class: 'zipcode'
			= f.text_field :email, autocomplete: "off", placeholder: t('.email'), required: true, class: 'email'
			= f.hidden_field :country, value: I18n.locale
		%li= f.submit t('.validate'), class: "btn btn_valid"