= form_for @news, remote: true, authenticity_token: true do |f|
	%h3= t('.discover')
	= f.hidden_field :country, value: I18n.locale
	.input-field
		= f.text_field :email, maxlength: "100", required: true, pattern: '[^@]+@[^@.]+\.[^@]+', class: 'validate'
		= f.label :email, t('user.email')
	.input-field
		= f.text_field :zipcode, required: false, type: 'text', pattern: '[^@]+@[^@.]+\.[^@]+', class: 'validate'
		= f.label :zipcode, t('user.city')
	= f.submit t('public.news_form.validate'), class: "btn btn-valid btn-large"