%section#welcome1
	%h2.title= t('.welcome_title')
	%ul.tb
		= link_to browse_products_path(kind: 'creation') do
			%li
				%h3= t('.creations')
				= image_tag "contents/creations.png"
				%h4= t('.creations_caption')
		= link_to browse_products_path(kind: 'model') do
			%li
				%h3= t('.collections')
				= image_tag "contents/collections.png"
				%h4= t('.collections_caption')
		= link_to browse_products_path(kind: 'accessory') do
			%li
				%h3= t('.accessories')
				= image_tag "contents/accessories.png"
				%h4= t('.accessories_caption')
	.arrow.tb
		= link_to_icon('arrow', 20, 20, root_path)


%section#welcome2
	%ul.process
		%li
			= image_tag "contents/drawing.png"
			%h3= t('.drawing_explain')
		%li.mb
			= image_tag "contents/fabrics.png"
			%h3= t('.fabrics_explain')
		%li.tb
			%h3= t('.fabrics_explain')
			= image_tag "contents/fabrics.png"
		%li
			= image_tag "contents/manequin.png"
			%h3= t('.manequin_explain')
	%hr	
	%ul.comment
		%li
			= image_tag "pictures/jolie.png"
			.text
				%h1= '“'
				%h3= t('.comment')
				%h3.name= 'Sophie'
	%hr

	%ul.instagram
		%li
			.title
				%h2= 'Instagram'
				%h3= '#tastebydean'
		.images
			- (1..3).each do |i|
				%li= image_tag "contents/instagram/#{i}.png"
			- (4..6).each do |i|
				%li.tb= image_tag "contents/instagram/#{i}.png"
	%hr

	%ul.follow
		%li
			%h2= t('.follow_us')
		%ul
			%li= link_to_icon('facebook', 40, 40, 'https://www.facebook.com/tastebydean/')
			%li= link_to_icon('instagram', 40, 40, root_path)
			%li= link_to_icon('pinterest', 40, 40, 'https://fr.pinterest.com/tastebydean/')
		= render partial: 'public/news_form'

