.logo-left
	%li= link_to_icon('logo-round', 50, 50, root_path)
	%li
		%h5= select_logo_title

.links.mb
	%li
		= link_to_icon('filter-red-mb', 25, 25, root_path, {class: 'mb_main_menu', remote: true})
.links.tb
	- if user_signed_in?
		%li= link_to t('layouts.main_filters.admin'), admin_products_path
	%li= selected_header_link('creation', showroom_products_path(kind: 'creation'))
	%li= selected_header_link('collection', shop_products_path(kind: 'model'))
	%li= selected_header_link('shop', shop_products_path(kind: 'accessory'))
	%li.icons
		- if user_signed_in?
			= link_to_icon('user_green', 20, 20, destroy_user_session_path, {method: :delete})
		- else
			= link_to_icon('user_red', 20, 20, new_user_session_path, {class: 'connect_modal', remote: true})
		= link_to cart_path, class: 'cart' do
			= image_tag 'icons/cart_red.png', id: 'bsk_icon'
			%h4.message= t('.cart_items', count: current_order.count_qties)
		

