.logo.mb
	= link_to_icon('logo-white-mb', 119, 53, root_path)
.logo.tb
	= link_to_icon('logo-white', 94, 43, root_path)
.links.mb
	%li
		= link_to_icon('filter-white-mb', 30, 30, '', {class: 'mb_main_menu', remote: true})
.links.tb

	- if user_signed_in?
		%li= link_to t('layouts.main_filters.admin'), admin_products_path, class: 'white'
	%li= link_to t('layouts.main_filters.creation'), showroom_products_path(kind: 'creation'), class: 'white'
	%li= link_to t('layouts.main_filters.collection'), shop_products_path(kind: 'model'), class: 'white'
	%li= link_to t('layouts.main_filters.shop'), shop_products_path(kind: 'accessory'), class: 'white'
	%li
		- if user_signed_in?
			= link_to_icon('user_green', 20, 20, destroy_user_session_path, {method: :delete})
		- else
			= link_to_icon('user_white', 20, 20, new_user_session_path, {class: 'connect_modal', remote: true})
		= link_to cart_path, class: 'cart' do
			= image_tag 'icons/cart_white.png', id: 'bsk_icon'
			%h4.message= t('.cart_items', count: current_order.count_qties)
