!!! 5
%html
  %title= 'Bienvenue chez Dean !'
  %meta{charset: "utf-8"}
  %meta{content: "description", content: "Designez votre tenue sur mesure..."}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}

  = csrf_meta_tags
  %script
    var locale = "#{I18n.locale}";

  - if Rails.env.production?
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-88492107-2', 'auto');

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %section#languages
      - ['en', 'bi', 'fr'].each do |l|
        = link_to l, params.permit(:locale).merge(locale: l, params: request.query_parameters), data: { no_turbolink: true }, id: "switch_#{l}"

    %section.mb_menu{'off-canvas': "mb-main-menu left overlay"}
      = render partial: 'layouts/mb_main_menu'  

    - if defined?(@area) && @area != 'creation'
      %section.mb_menu{'off-canvas': "mb-filter-menu left overlay"}
        = render partial: 'shop/filters/' + @area + '/mb_filters'    

    %section#flash_msg
      = render_flash

    %header#header
      - if @header_trsp == true
        = render partial: 'layouts/header_trsp'
      - else
        = render partial: 'layouts/header'

    %main#main.mb-quit{'canvas': 'container', class: "#{@bck_size} #{@bck_img}"}
      = yield

    %footer#footer
      = render partial: 'layouts/footer'
