!!! 5
%html
%head
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

.container_screened
	.container
		#header.row
			= render partial: 'main/header'
			#flash_msg
				= render_flash
		#body.row
			= render :partial => 'main/modal_accounts'
			= yield
		#footer.row
			.text
				%h3= mail_to("tastebydean@gmail.com")
				%h3.smallhide= "|"
				%h3= link_to t_scoped(:conditions), root_path
				%h3.smallhide= "|"
				%h3= "© tastebydean 2016"
			.follow

:javascript
	$(document).ready(function(){
		setTimeout(function(){
			$('#flash_msg').fadeOut("slow", function() {
				$(this).remove();
			});
		}, 4000);
		geocomp("address");
	});

	$('.create_account').click(function() {
		$('#account').fadeIn("slow");
		$('#create-account').show();
		$('#connect-account').hide();
	});
	$('.connect_account').click(function() {
		$('#account').fadeIn("slow");
		$('#connect-account').show();
		$('#create-account').hide();
	});